.content-container {
  width: 100%;
  max-width: 1280px;
  margin-left: 100px; /* 왼쪽 마진 고정 */
}

// .ellipse-icon {
//   position: absolute;
//   left: 100px; /* left-bottom 고정을 위해 왼쪽 위치 설정 */
//   bottom: 20px;
// }

/* 태블릿 (768px ~ 1024px) */
@media (max-width: 1024px) {
  .content-container {
    margin-left: 0; /* 사이드 마진 없음 */
    width: 100%;
  }
}

/* 모바일 (540px 이하) */
@media (max-width: 540px) {
  .content-container {
    margin-left: 50px; /* 모바일에서 왼쪽 마진 조정 */
  }
}
